
body.app-body {
    background-image: url("assests/background.jpg");
}

.card-block {
    height: 50%;
}
.path-select {
    padding: 15px 0px 15px 15px;
}

.container.app-container{
    margin-top: 10%;
}

.input-group{
    padding: 0px 20px;
    margin: 7px 0px;
}
